<ion-header>
  <ion-toolbar>
    <ion-title>DetailsRegion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-5">
    <div class="row tout">
      <div class="col mt-5 d-block col-xs-12  ">

        <div class="w auto p-3 icolor" style="background-color:#353558;">
          <img src="../../assets/img/Monuments_52.jpg" class="img-fluid imgf" alt="...">
       
        </div>
      </div>


      <div class="col col-xs-12  ">
        <div class="w auto p-3 icolor" style="background-color:#353558;">
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h2 class="card-title">Region de Kayes</h2>
              
              <p class="card-text">Kayes est une grande ville et une commune de l’ouest du Mali
                à 495 km au nord-ouest de Bamako, sur les rives du fleuve Sénégal.
                Elle est la capitale de la première région administrative et
                le chef-lieu du cercle qui porte son nom.</p>
                <div class="row">
                  <div class="col-auto">
                      <h3><strong>Population :</strong> 20 000 hbts </h3>
                      <h3><strong>Langue parlée :</strong> Sarakolé </h3>
                  </div>
                  <div class="col-auto">
                      <h3><strong>Domaine d'activité :</strong> Commerce </h3>
                      <h3><strong>Superficie :</strong> 22 192 km2 </h3>
                     
                       
                
                  </div>
                  
                
              </div>

              <div class="row">
                <div class="ttt">
                <button type="button" class="btn btn-secondary mx-2">Modifier</button>
              
                <button type="button" class="btn btn-secondary mx-2">Supprimer</button>
              </div>
              </div>
              
            </div>
            
          </div>


          </div>
      </div>

</div>
</div>


  <div class="container">
      <div class="row" style="border: 1px solid white;box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25); margin-left: 5px;  margin-right: 5px ; margin-top: 20px;  margin-bottom:20px">
          <div class="col-sm-5 col-md-6 col-12 pb-4">
              <h1 class="ccmt">Commentaire</h1>
              <div class="comment mt-4 text-justify float-left">
                  <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                  <h4>  Jhon Doe</h4>
                  <span> - 20 October, 2018</span>
                  <br>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
              </div>
              <div class="text-justify darker mt-4 float-right">
                  <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
                  <h4>  Rob Simpson</h4>
                  <span> - 20 October, 2018</span>
                  <br>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
              </div>
              <div class="comment mt-4 text-justify">
                  <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                  <h4>  Jhon Doe</h4>
                  <span> - 20 October, 2018</span>
                  <br>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
              </div>
              <div class="darker mt-4 text-justify">
                  <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
                  <h4>  Rob Simpson</h4>
                  <span> - 20 October, 2018</span>
                  <br>
                  <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
              <form id="algin-form">
                  <div class="form-group">
                      <h4>Laisser un commentaire</h4>
                      <label for="message">Message</label>
                      <textarea name="msg" id="msg" cols="30" rows="5" class="form-control" style="background-color: rgb(255, 255, 255);"></textarea>
                  </div>
                  <div class="form-group">
                      <label for="name">Nom</label>
                      <input type="text" name="name" id="fullname" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" name="email" id="email" class="form-control">
                  </div>
                  
                  
                  <div class="form-group">
                    <button type="button" class="btn btn-secondary mx-auto d-block bbt">Envoyer</button>
                  </div>
              </form>
          </div>
      </div>
  </div>


</ion-content>
