<ion-header>
  <ion-toolbar>
    <ion-title>DetailsRegion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-5">
    <div class="row">
      <div class="col">

        <div class="w auto p-3" style="background-color:#353558;">
          <img src="../../assets/img/Monuments_52.jpg" class="img-fluid imgf" alt="...">
       
        </div>
      </div>


      <div class="col">
        <div class="w auto p-3" style="background-color:#353558;">
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">Region de Kayes</h5>
              
              <p class="card-text">Kayes est une grande ville et une commune de l’ouest du Mali
                à 495 km au nord-ouest de Bamako, sur les rives du fleuve Sénégal.
                Elle est la capitale de la première région administrative et
                le chef-lieu du cercle qui porte son nom. La ville connaît un
                fort accroissement démographique puisqu'elle passe de 80 146 habitants
                en 20051 à 127 36 habitants en 2009.</p>
                <div class="row">
                  <div class="col-auto">
                      <h3><strong>Population :</strong> 20 000 hbts </h3>
                      <h3><strong>Langue parlée :</strong> Sarakolé </h3>
                  </div>
                  <div class="col-auto">
                      <h3><strong>Domaine d'activité :</strong> Commerce </h3>
                      <h3><strong>Superficie :</strong> 22 192 km2 </h3>
                  </div>
                  <div class="row">
                    <div class="col-6"><button type="button" class="btn btn-secondary  mx-auto">Modifier</button>
                          </div>
                    <div class="col-6 "><button type="button" class="btn btn-secondary ">Supprimer</button></div>
                        
                </div>
              </div>
              
            </div>
            
          </div>


          </div>
      </div>

</div>
</div>

</ion-content>
