.imgf {
   
    height: auto;
   
}

.btn-secondary {
    background-color: #353558;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;


}

.btn-secondary:hover {
    background-color: #368E8C;
}
