@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

ion-split-pane {

  --border: none !important;
  --side-width: 12em;

  ion-menu {
    // --background: black !important;

    ion-content {
      --background:#353558 !important;
      width: 220px;
      ion-item {

        // --background: var(--ion-color-warning-contrast) !important;
        --color: black !important;
        letter-spacing: 2px;
        --border-radius: 12px;
        margin-bottom: 25px;
        // padding-left: 50px;
        // padding-right: 50px;
       


      }


      

    }

  }

}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0;
  /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 100%;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  // overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.position-sticky {
  margin-top: 121px;
  position: -webkit-sticky !important;
  position: sticky !important;
}
.mt-2 {
  margin-top: 220px!important;
}
.connexion{
  margin-top: 120px;
}
ion-split-pane{
  --border: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  --side-min-width: 220px;
  --side-max-width: 28%;
}


