<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="col-md-12">
    <div class="">
      <mat-card class="container">

        <mat-card class="profile-img-card">
          <p class="text-center">Connexion</p>
        </mat-card>
      <!-- <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      /> -->
      <form
       
        name="form"
        
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            
            required
           
          />
          <div  class="invalid-feedback">
            Username is required!
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            
            required
          
          />
          <div class="invalid-feedback">
            <div>Password is required</div>
            <div>
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block signin">
            Login
          </button>
        </div>
        <div class="form-group">
          <div  class="alert alert-danger" role="alert">
            Login failed
          </div>
        </div>
        <div class="optionLogin">
          <span>Vous n'avez pas de compte?</span>
          <span><a  routerLink="/register">Créer un compte.</a></span>
        </div>
      </form>
  
      <div class="alert alert-success" >
        Logged in as  roles .
      </div>
      </mat-card>
    </div>

  </div>
</ion-content>
