.formulaire{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 2%;
    padding: 20px;
    
   
}
.textet{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
}
input.form-control {
    margin-bottom: 10px;
}
.ajoutimg{
    margin-top: 5px;
    margin-bottom: 20px;
}
.btn-secondary{
    background-color: #353558;
    margin-top: 15px;
    
    
}
.btn-secondary:hover{
    background-color: #368E8C;
}

label{
    font-weight: 500;
}

.bi-plus-circle-dotted{
    color: #368E8C;
    font-weight: bold ;
}
