<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="container fluid">
    <div class="row  ct" >
      <div class="col-xl-6 col-md-6 texte">
      <div class=" bb">Bienvenue dans l'application<br><br> MaliTourisme
      </div></div>

      <div class="col-xl-6 col-md-6 stat_col ">
        <div class="row stats">
          <div class="nbregion">
            <h1 class="nbre1">5</h1>

            <p class="text_stats">Nombre de region</p>

          </div>
          
        </div>
        <div class="row stats">
          <div class="nbregion">
            <h1 class="nbre2">2.5M</h1>

            <p class="text_stats">Nombre de population</p>

          </div>
          
        </div>

      </div>
    </div>

    
    
    
    
    
    
    
    
    
    
    
    
    <!-- <div class="row r1">
      <div class="col gauche" >
        <div class="desc"> Le Mali est grand Sa capitale est <br> Bamako qui regroupe plus d’un million de <br> Le pays a des frontières avec <br> pas moins de 7 pays : Burkina Faso, Côte <br>d’Ivoire, Guinée, Sénégal, Mauritanie,<br> Niger et Algérie.</div>
       </div>

      
      <div class="col " >
        <div class="img">
        <img src="../../assets/img/mali-e1510131490287.png" alt=""></div>
      </div>

    </div> -->
    
      <ion-card class="ionCARD">
        <ion-grid [fixed]="true" >
          <ion-row class="ion-align-items-center">
            <ion-col >
              <div class="column textediallo"> Pays à la nature sauvage, le Mali offre une faune et flore d'exception cohabitant harmonieusement avec des villages aux constructions traditionnelles.Des paysages naturels, souvent surréalistes qui subjuguent dès le premier regard. Visiter les régions du  Mali c'est entrer dans un véritable havre de paix où il fait se ressourcer.</div>
            </ion-col>
            <ion-col>
              <div class="column image"><img src="../../assets/img/mali-e1510131490287.png" alt="mali-carte"></div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
    
         

              
                






                <!-- <div class="container">
                      <div class="card img-fluid" style="width:500px">
                    <img class="card-img-top" src="../../assets/img/1000.jpeg" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                      <h4 class="card-title">John Doe</h4>
                      <p class="card-text">Some example text some example text.</p>
                    </div>
                  </div>
                </div>


 -->


 
              </div>
   
              <div class="row region1">

                <div class="col" *ngFor="let regionn of regions">
                  <div class="parent" >
                    <div class="child1" ></div>
                    <div class="child1 child2 ss" >
        
                      <div class="row r_img" >
                        <img class="i_reg" src="../../assets/img/{{regionn.imageregion}}">
                      </div>
                      <div class="row r_text">
                        <div class="t_region">{{regionn.nomRegion}}
                          <div class="row">
                            <div class="col icones">
        
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash3-fill delete mx-2" viewBox="0 0 16 16">
                                <path
                                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                              </svg><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                class="bi bi-arrow-repeat update mx-2" viewBox="0 0 16 16">
                                <path
                                  d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                                <path fill-rule="evenodd"
                                  d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                              </svg>
                            </div>
                          </div>
        
                        </div>
        
        
                      </div>
                    </div>
                  </div>
        
                </div>
              </div>
</ion-content>
