<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="container fluid">
    <div class="row " >
      <div class="col texte">
      <div class=" bb">Bienvenue dans l'application<br><br> Malitour
      </div></div>

      <div class="col">

      </div>
    </div>

    
    
    
    
    
    
    
    
    
    
    
    
    <!-- <div class="row r1">
      <div class="col gauche" >
        <div class="desc"> Le Mali est grand Sa capitale est <br> Bamako qui regroupe plus d’un million de <br> Le pays a des frontières avec <br> pas moins de 7 pays : Burkina Faso, Côte <br>d’Ivoire, Guinée, Sénégal, Mauritanie,<br> Niger et Algérie.</div>
       </div>

      
      <div class="col " >
        <div class="img">
        <img src="../../assets/img/mali-e1510131490287.png" alt=""></div>
      </div>

    </div> -->
    
      <ion-card class="ionCARD">
        <ion-grid [fixed]="true" >
          <ion-row class="ion-align-items-center">
            <ion-col >
              <div class="column textediallo">Le Mali est grand Sa capitale est <br> Bamako qui regroupe plus d’un million de <br> Le pays a des frontières avec <br> pas moins de 7 pays : Burkina Faso, Côte <br>d’Ivoire, Guinée, Sénégal, Mauritanie,<br> Niger et Algérie.</div>
            </ion-col>
            <ion-col>
              <div class="column image"><img src="../../assets/img/mali-e1510131490287.png" alt="mali-carte"></div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
    
         

              
                






                <!-- <div class="container">
                      <div class="card img-fluid" style="width:500px">
                    <img class="card-img-top" src="../../assets/img/1000.jpeg" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                      <h4 class="card-title">John Doe</h4>
                      <p class="card-text">Some example text some example text.</p>
                    </div>
                  </div>
                </div>


 -->


 
              </div>
   
              <div class="row region1">

                <div class="col">
                 <div class="parent">
                   <div class="child1"></div>
                   <div class="child1 child2 ss">
                     
                       <div class="row r_img">
                    

                       <img class="i_reg" src="../../assets/img/Great-Mosque-Djenne-Mali.jpg">
                     </div>
                     <div class="row r_text">
                     <div class="t_region">Region <br> <br>de Tombouctou</div>
                   </div>
                   </div>
                   </div>
                 
               </div>

               <div class="col">
                 <div class="parent">
                   <div class="child1"></div>
                   <div class="child1 child2 ss">
                     
                       <div class="row r_img">
                    

                       <img class="i_reg" src="../../assets/img/Great-Mosque-Djenne-Mali.jpg">
                     </div>
                     <div class="row r_text">
                     <div class="t_region">Region <br> <br>de Tombouctou</div>
                   </div>
                   </div>
                   </div>
                 
               </div>


               <div class="col">
                 <div class="parent">
                   <div class="child1"></div>
                   <div class="child1 child2 ss">
                     
                       <div class="row r_img">
                    

                       <img class="i_reg" src="../../assets/img/Great-Mosque-Djenne-Mali.jpg">
                     </div>
                     <div class="row r_text">
                     <div class="t_region">Region <br> <br>de Tombouctou</div>
                   </div>
                   </div>
                   </div>
                 
               </div>



              <div class="col">
                 <div class="parent">
                   <div class="child1"></div>
                   <div class="child1 child2 ss">
                     
                       <div class="row r_img">
                    

                       <img class="i_reg" src="../../assets/img/Great-Mosque-Djenne-Mali.jpg">
                     </div>
                     <div class="row r_text">
                     <div class="t_region">Region <br> <br>de Tombouctou</div>
                   </div>
                   </div>
                   </div>
                 
               </div>

             </div>
  
</ion-content>
